@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --primary-pink: #ef5366;
  --primary-light-pink: #fc818b;
  --primary-bg-color: white;
  --secondary-light-pink: #fff0f0;
  --border-color: #e7e6f7;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --secondary-bg-color: #f0efff;
  --primary-text-color: #27272c;
  --secondary-text-color: #b8b8b8;
}
